.ant-col-24.ant-form-item-label {
  padding: 0 !important;
}
div > form.ant-form {
  padding: 5px 20px 20px 20px;
  /* position: absolute;
  bottom: 20px;
  width: 100%;
  height: auto; */
}
div.ant-form-item > div.ant-form-item-label > label {
  font-weight: 500;
  font-size: 14px;
}
.ant-form-horizontal {
  height: 100%;
}
div.ant-form-item-control-input
  > div.ant-form-item-control-input-content
  > button {
  width: 75.8px;
  
  }


div.row > div.col-6 > div.row{
  padding: 0 15px;
}
/* div.row > div.col-6 > div.row > div.ant-form-item {
  width: 100%;
  
  
} */
